@import url('https://fonts.googleapis.com/css?family=Montserrat');

.text-info {
	color: black;
}

body {
	background: white;
	font-family: 'Montserrat', sans-serif;
	color: black;
	margin: 0px;
	padding: 0px;
/*	background-image: url('images/engine.gif');
	background-size: cover;*/
}

header {
	background-color: #333333; 
}

h1 {
	color: black;
}