body {
	background: "efeee7";
	font-family: "Georgia,Times New Roman,Times,Serif";
	font-color: #333333;
	margin: 0px;
	padding: 0px;
}

header {
	background-color: #333333; 
}

h1 {
	font-color: #eee;
}
