header {
    top: 0px;
    min-height: 30px;
    position: relative, top;
}

footer, #staging, #contact {
    bottom: 0px;
    min-height: 30px;
    position: relative, bottom;
}

#staging {
    font-family: sans-serif;
    display: grid;
    background-color: orange;
    color: black;
    font-weight: bold;
    text-align: center;
    position: fixed;
    width: 100%;
    
}

#contact {
  padding-top: 2em;
  text-align: center;
}

/* work on setting logo & nav postion so that it is fixed at the top of each page */
#bfflogo {
    width: 20vw;
    margin-top: 2%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: none;
  }
  
body {
  font-family: Arial, sans-serif;
}
  
/* Month header */
.month {
  padding: 30px 25px;
  width: auto;
  background: #c01f25;
  text-align: center;
  color: #fff007;
  font-size: 24px;
}

.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  font-size: 20;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* Weekdays header and calendar */

.week {
  padding: 0;
  width: auto;
}
.weekdays {
  margin: 0;
  padding: 10px 0px;
  background-color: #f2f2f2;

}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #333333;
  text-align: center;

}

.days {
  padding: 10px 0;
  background: #fff;
  margin: 10px;
  width: 100%;
}

.days li {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 13%;
  text-align: center;
  vertical-align: text-top;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333333;
  padding: 12px 0px 50px 4.5px;
}

.days .empty {
  color: #ffffff;
}

/* Class description cards */
.card-img-top {
  width: 15rem;
  height: 10rem;

}

.instructor {
  font-weight: bold;
}

.card {
  display: inline-block;
  padding: 2em;
  vertical-align: top;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: flex-end; */
}

.am .pm {
  flex: 0 1 auto;
  background-color: khaki;
}

/* navigation */
.navbar {
  justify-content: center;
}

.nav {
  display: flex;
  flex-flow: row nowrap;
  padding: 2em 2em 2em 0;
  width: 10vw;
}

/* main page styling */

#about, #top {
  background-color: darkgray;
  width: auto;
  padding: 0;
  margin: 0;
}

.bio {
  /* height: 10vh;
  padding: 2em; */
}

#mrsb, #instwo {
  height: 10%;
}


